// Override default Cassiopeia colors
//-----------------------------------------------------------------------
$standard-color-primary:              #112855;
$standard-color-link:                 lighten($standard-color-primary, 10%);
$standard-color-hover:                lighten($standard-color-primary, 5%);

// Override default bootstrap colors
//-----------------------------------------------------------------------
$white:                               hsl(0, 0%, 100%);
$gray-100:                            hsl(210, 17%, 98%);
$gray-200:                            hsl(210, 16%, 93%);
$gray-300:                            hsl(210, 14%, 89%);
$gray-400:                            hsl(210, 14%, 83%);
$gray-500:                            hsl(210, 11%, 71%);
$gray-600:                            hsl(210, 7%, 46%);
$gray-700:                            hsl(210, 9%, 31%);
$gray-800:                            hsl(210, 10%, 23%);
$gray-900:                            hsl(210, 11%, 15%);
$black:                               hsl(0, 0%, 0%);

$grays: (
  100:                                $gray-100,
  200:                                $gray-200,
  300:                                $gray-300,
  400:                                $gray-400,
  500:                                $gray-500,
  600:                                $gray-600,
  700:                                $gray-700,
  800:                                $gray-800,
  900:                                $gray-900
);

$blue:                                hsl(240, 98%, 17%);
$indigo:                              hsl(263, 90%, 51%);
$purple:                              hsl(261, 51%, 51%);
$pink:                                hsl(332, 79%, 58%);
$red:                                 hsl(3, 75%, 37%);
$orange:                              hsl(27, 98%, 54%);
$yellow:                              hsl(34, 100%, 34%);
$green:                               hsl(120, 32%, 39%);
$teal:                                hsl(194, 66%, 61%);
$cyan:                                hsl(207, 49%, 37%);

$colors: (
  "blue":                             $blue,
  "indigo":                           $indigo,
  "purple":                           $purple,
  "pink":                             $pink,
  "red":                              $red,
  "orange":                           $orange,
  "yellow":                           $yellow,
  "green":                            $green,
  "teal":                             $teal,
  "cyan":                             $cyan,
  "white":                            $white
);

$primary:                             $standard-color-primary;
$secondary:                           hsl(210, 7%, 46%);
$success:                             hsl(34, 100%, 34%);
$info:                                hsl(207, 49%, 37%);
$warning:                             hsl(27, 98%, 54%);
$danger:                              hsl(3, 75%, 37%);
$light:                               hsl(210, 17%, 98%);
$dark:                                hsl(0, 0%, 12%);

$theme-colors: (
  primary:                            $standard-color-primary,
  secondary:                          $secondary,
  success:                            $success,
  info:                               $info,
  warning:                            $warning,
  danger:                             $danger,
  light:                              $light,
  dark:                               $dark
);

// Set Bootstrap options
//-----------------------------------------------------------------------
$enable-negative-margins: true; // Set negative margins to true
$enable-shadows: true; // Set the shadow classes to true

// Create some extra margin / padding utilities
//-----------------------------------------------------------------------
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7
);

// Override the default Cassiopeia CSS custom properties
//-----------------------------------------------------------------------
:root {
  --cassiopeia-color-primary: #{$standard-color-primary};
  --cassiopeia-color-link: #{$standard-color-link};
  --cassiopeia-color-hover: #{$standard-color-hover};
}

// Import the default Cassiopeia template.scss
//-----------------------------------------------------------------------
@import "../../cassiopeia/scss/template";
